:root {
    --primary-color: hsl(47, 88%, 63%);
    --secondary-color: hsl(0, 0%, 7%);
    --article-color: hsl(0, 0%, 42%);
    --white-color: hsl(0, 0%, 100%);
}

@font-face {
    font-family: figTree;
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf)
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: figTree, 'Segoe UI', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* Full viewport height */
    width: 100vw;
    /* Full viewport width */
    justify-content: center;
    align-items: center;
}

.blog-preview-card {
    background-color: var(--white-color);
    border-radius: 1.25rem;
    border: 1px solid var(--secondary-color);
    box-shadow: 0.5rem 0.5rem;
    padding: 1.5rem;
    width: 87%;
    max-width: 24rem;
    box-sizing: border-box;
}

svg {
    height: 200px;
    border-radius: 10px;
}

header {
    margin: 1.5rem 0;
    line-height: 150%;
}

.category {
    background-color: var(--primary-color);
    padding: 0.25rem 1.75rem;
    border-radius: 0.24rem;
    width: 20%;
    text-align: left;
}

.publish-date {
    font-size: 0.75rem;
    margin: 1.25rem 0;
}

h1 {
    font-size: 1.25rem;
}

h1:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.description {
    color: var(--article-color);
    font-size: 0.875rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.75rem;
}

.author-name {
    display: inline;
    font-weight: bold;
}